{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="text-center">
            <img class="img-fluid" src="{{ project.picture|default('http://placehold.it/900x300') }}" alt="{{ project.name|default('Новый проект') }}" />
        </div>
    </div>
    <button class="btn btn-primary mb-2">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
