mixin project(project, isAdmin)
    .row
        .col-md-7
            a(href='/project/' + project.id)
                img.img-fluid.rounded.mb-3.mb-md-0(src=project.picture, alt=project.name)
        .col-md-5
            h3= project.name
            p= project.body
            if !isAdmin
                a.btn.btn-primary(href='/projects/' + project.id) Подробнее
            if isAdmin
                a.btn.btn-primary(href='/projects/' + project.id + '/edit') Изменить
                a.btn.btn-dark(href='/projects/' + project.id + '/delete') Удалить
    hr

mixin project_view(project)
    h1.my-4
        | Проект #{project.name}
        small Подробный просмотр
    .row
        .col-md-4
            h3.my-3 Описание проекта
            p= project.body
            h3.my-3 Характеристики
            ul
                li Материал - #{project.material.name}
                li Этажность - #{project.levels}
                li Площадь - #{project.square} м²
            h3.my-3 Постройки
            ul
                each building in project.buildings
                    li= building.name
        .col-md-8
            img.img-fluid(src=project.picture, alt=project.name)